* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
i {
    cursor: pointer;
}
.hide-element {
    display: none !important;
}
.bg-container {
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(240deg,rgb(106, 106, 239),white);
    border: 3px solid red;
}
.warning {
    border: 1px solid;
}
.main-container {
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    gap: 25px;
    width: 98%;
    padding: 8px;
    border: 1px solid;
}

.calendar-container {
    border: 1px solid rgb(195, 191, 191);
    border-radius: 15px;
    max-width: 700px;
    background-color:rgba(245, 245, 245, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:17px;
    margin-bottom: 20px;
}
#prevBtn:active {
    background-color: rgb(123, 214, 222);
    padding: 8px;
    color: white;
    border-radius: 20px;
}
#nextBtn:active {
    background-color: rgb(123, 214, 222);
    padding: 8px;
    color: white;
    border-radius: 20px;
}
.current-month {
    font-size: 2.3rem;
    margin: 5px;
}
.current-year {
    font-size: 1.6rem;
}
.current-month-dates {
    background-color: white;
}
.current-date {
    background-color: rgb(180, 255, 255);
    border-radius: 5px;
}
.calendar-body {
    padding: 0px 10px;
    border: 1px solid;
    transition: all 1s;
}
.calendar-body ul {
    display: flex;
    flex-wrap: wrap;

}
ul {
    list-style: none;
}
.calendar-body ul li {
    width: calc((100% - 70px) / 7);
    text-align: center;
    border-radius: 5px;
    margin: 5px;
}
.calendar-days {
    margin-bottom: 25px;
    font-size: 1.08rem;
}
.calendar-dates li{
    padding: 8px 0px;
    cursor: pointer;
}
.calendar-dates li:hover{
    /* background-color: rgb(212, 209, 209); */
    border-radius: 5px;
    box-shadow: 5px 6px 6px rgb(185, 185, 185);
}
.form-container {
    margin: 12px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 5px;
}
.input-box {
    width: 45%;
    max-width: 300px;
    display: flex;
    gap: 13px;
}
#inputDate {
    padding: 10px;
    width: 70%;
    max-width: 160px;
    outline: none;
    border-radius: 8px;
    border: 1px solid rgb(220, 212, 212);
}
.go-btn {
    background-color: aqua;
    border: none;
    width: 30%;
    font-size: 1rem;
    max-width: 50px;
    cursor: pointer;
    border-radius: 8px;
}
#todayBtn {
    background-color: aqua;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
}
.prev-dates {
    color:rgb(155, 153, 153);
}
.next-month-sunday {
    color: rgb(255, 133, 133);
}
.sunday {
    color: rgb(227, 25, 25);
}
.focused-date {
    border: 1px solid rgb(155, 151, 151);
}
.selected-date {
    border: 1px solid grey;
}

.add-event-container {
    display: flex;
    flex-flow: column;
    width: 90%;
    max-width: 400px;
    max-height: 490px;
    gap: 10px;
    background-color: transparent;
}
.list-of-event {
    display: none;
    color: black;
    font-size: 40px;
    overflow-y:auto;
    flex-grow: 1;
    scroll-behavior: smooth;
    border: 1px solid;
}
::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(221, 217, 217);
    border-radius: 15px;
}
::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 15px;
    background-color: rgb(22, 217, 217)
}
#addEventInputEl {
    border-radius: 30px;
    padding: 13px;
    width: 100%;
    outline: none;
    border: 1px solid rgb(220, 212, 212);
}

#addEventPlusIcon{
    font-size: 30px;
    color: rgb(22, 217, 217);
}
.add-event-button {
    background-color: transparent;
    border: none;
}
.event {}
#confirmEventCheckIcon {
    font-size: 30px;
    color: rgb(22, 217, 217);
}
.confirm-event-check-btn-disabled {
    color: grey !important;
} 
.add-event-input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}
@media (min-width:1165px) {
    .add-event-container {
        /* align-self: stretch; */
        background-color:rgba(245, 245, 245, 0.9);
        border-radius: 15px;
        padding: 10px;
    }
    .list-of-event {
        display: block;
        /* flex-grow: 0; */
    }
    .add-event-input-box {
    }
}
